body {
    background: green;
    /* overflow: hidden; */
}

header, footer {
    background: rgb(53, 49, 50);
    height: 85px;
}

.section {
    border: 1px black solid;
    
}


.section-flex {
    border: 1px solid black;
    background: green;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content:space-evenly;
}

.main {
    width: 65%;
    height: 100%;
    margin: auto;
    background: purple;
}